name: Security audit

on:
  push:
    paths:
      - '**/Cargo.toml'
  #schedule:
  #  - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  security-audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
